 /**/

@font-face {  /* animal crossing font */
  font-family: 'animal';
  src: url('assets/animalcross.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: sans-serif;
  margin: 0px 100px; 
}

.homepage {
  background-color: #0f0f0f;
}

.logo {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 0px;
}

.logo img {
  max-width: 190px;
  height: auto;
}


.notespage {
  background-color: #0f0f0f;
}


.architectpage {
  background-color: #0f0f0f;
}


.paperpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #0f0f0f;
}


.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.video-container video {
  max-width: 90%;
  max-height: 90vh;
  object-fit: contain;
}


.text1 {
  font-family: Georgia, sans-serif;
  color: #e6e6e6;
  font-size: 19px;
}

.funnel {
  font-family: 'Funnel Sans', sans-serif;
  color: #e6e6e6;
  font-style: normal;
  font-size: 19px;
  font-weight: 300;
}

.funnelitalic {
  font-family: 'Funnel Sans', sans-serif;
  color: #e6e6e6;
  font-style: italic;
  font-size: 19px;
  font-weight: 300;
}

.funnelbold {
  font-family: 'Funnel Sans', sans-serif;
  color: #e6e6e6;
  font-style: normal;
  font-size: 19px;
  font-weight: 600;
}

.romantypeshit {
  font-family: 'Libre Caslon Text', sans-serif;
  color: #e6e6e6;
  font-style: normal;
  font-size: 19px;
  font-weight: 400;
}

.animal {
  font-family: 'animal', sans-serif;
  font-size: 19px;
  color: #e6e6e6;
}

.mybox {
  /*background-color: #f0f0f0;*/
  border: 1px solid #e6e6e6;
  padding: 15px;
  margin: 10px 0;
  width: 50%;
  max-width: 300px;
}

.myunderline {
  /*background-color: #f0f0f0;*/
  border-bottom: 1px solid #e6e6e6;
  padding: 15px;
  margin: 10px 0;
  width: 100%;
  max-width: 500px;
}


.site-nav {
  position: static;
  width: 100%;
  margin-top: 50px;
}
  
.site-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  border-bottom: 1px solid #ffee84;
  padding-bottom: 10px;
  padding-top: 5px;
}

.site-nav li {
  display: inline-block;
  margin: 0;
}

.site-nav a {
  display: inline-block;
  padding: 5px 20px;
  text-decoration: none;
  color: #ffee84;
  font-family: 'Funnel Sans', sans-serif;
  font-size: 19px;
}

.site-nav a:hover {
  background-color: #e6e6e6;
  color: #0f0f0f;
}
