 /**/

@font-face {  /* animal crossing font */
  font-family: 'animal';
  src: url('assets/animalcross.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  background-color: #000000;
  color: #e6e6e6;
  font-family: 'Noto Sans', sans-serif;
  margin: 100px 100px; 
}

.text1 {
  font-family: Georgia, sans-serif;
  color: #e6e6e6;
  font-size: 19px;
}

.nun {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  color: #e6e6e6;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.funnel {
  font-family: 'Funnel Sans', sans-serif;
  color: #e6e6e6;
  font-style: normal;
  font-size: 19px;
}

.romantypeshit {
  font-family: 'Libre Caslon Text', sans-serif;
  color: #e6e6e6;
  font-style: normal;
  font-size: 19px;
  font-weight: 400;
}

.animal {
  font-family: 'animal', sans-serif;
  font-size: 19px;
  color: #e6e6e6;
}

.mybox {
  /*background-color: #f0f0f0;*/
  border: 1px solid #e6e6e6;
  padding: 15px;
  margin: 10px 0;
  width: 50%;
  max-width: 300px;
}

.myunderline {
  /*background-color: #f0f0f0;*/
  border-bottom: 1px solid #e6e6e6;
  padding: 15px;
  margin: 10px 0;
  width: 100%;
  max-width: 500px;
}


.site-nav {
  position: absolute;
  top: 19px;
  left: 50px;
  right: 50px;
}
  
.site-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  border-bottom: 1px solid #d46a6a;
  padding-bottom: 10px;
  padding-top: 5px;
}

.site-nav li {
  display: inline-block;
  margin: 0;
}

.site-nav a {
  display: inline-block;
  padding: 5px 20px;
  text-decoration: none;
  color: #d46a6a;
  font-family: 'Funnel Sans', sans-serif;
}

.site-nav a:hover {
  background-color: #e6e6e6;
  color: #000000;
}
